@model DossierDeCandidature.Models.References

<style>
    .form-group {
        margin-right: 15px;
    }
    .progressbar {
        counter-reset: step;
    }

        .progressbar li {
            list-style-type: none;
            width: 10%;
            float: left;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: '';
                position: absolute;
                background-color: #7d7d7d;
                top: 15px;
                left: -50%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: lightskyblue;
            }

            .progressbar li.activeBefore {
                color: #00BD39;
            }

            .progressbar li.active:before {
                border-color: dodgerblue;
            }

            .progressbar li.activeBefore:before {
                border-color: #00BD39;
            }

            .progressbar li.activeBefore + li:after {
                background-color: #00BD39;
            }

    #progressBar {
        margin-left: 100px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div id="progressBar">

    <ul class="progressbar">
        <li class="activeBefore"></li>
        <li class="activeBefore"></li>
        <li class="activeBefore"></li>
        <li class="activeBefore"></li>
        <li class="activeBefore"></li>
        <li class="active"></li>
        <li></li>
        <li></li>
    </ul>
</div>


<h2 class="text-center">REFERENCES PROFESSIONNELLES</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="form-inline">

                <div class="champs" id="d1">
                    <div class="form-group">
                        <label class="control-label">Nom/Prénom</label>
                        <div>
                            <input name="[0].NomPrenom" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fonction</label>
                        <div>
                            <input name="[0].Fonction" class="form-control" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label">Sociéte</label>
                        <div>
                            <input name="[0].Societe" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tel/Mail</label>
                        <div>
                            <input name="[0].TelMail" class="form-control" />
                        </div>
                    </div>
                </div>

                <script src="~/Scripts/JavaScript.js"></script>

                <br />
                <br />
                <br />
                <div>
                    <input type="submit" value="suivant" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>
    </div>
}

<button id="btn1" class="btn btn-default" style="background-color:darkgrey">Ajouter</button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
