@model DossierDeCandidature.Models.Competences

<style>
    .form-group {
        margin-right: 15px;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<br /><br /><br />
<h2 class="text-center">PRINCIPALES COMPETENCES TECHNIQUES ET/OU FONCTIONNELLES</h2>
<br />

@using (Html.BeginForm("Ajouter", "Competences"))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">


            <div class="form-inline">

                <div class="champs-competence" id="d">
                    <div class="form-group">
                        <label class="control-label ">Compétence</label>

                        <div>
                            <textarea id="test" name="[0].Competence" cols="60" rows="2" class="form-control"></textarea>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Niveau</label>
                        <div>
                            <select class="form-control" name="[0].NiveauCompetence" style="text-align-last:center">
                                <option value=""> - Niveau - </option>
                                <option value="Debutant"> Debutant (0 à 1 an) </option>
                                <option value="Confirme">Confirmé (2 à 5 ans)</option>
                                <option value="Experimente">Expérimenté (plus de 5 ans)</option>
                            </select>
                        </div>
                    </div>
                </div>

                <script src="~/Scripts/JavaScript.js"></script>

                <br /> <br /> <br /> <br />

                <div>
                    <input type="submit" value="Valider" class="btn btn-primary pull-right" />
                </div>
            </div>
        </div>

    </div>
}


<button id="btn" class="btn btn-default" style="background-color:darkgrey">Ajouter</button>
@{
    int ID = (int)Session["idRenseignement"];
    string NewID = Convert.ToBase64String(BitConverter.GetBytes(ID)).Replace("==", "");
}
<div class="form-actions no-color">
    @Html.ActionLink("Retour", "Verification", "Enregistrement", new { Id = NewID }, null)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
