@model DossierDeCandidature.Models.Competences
<style>
    h3 {
        color: Highlight
    }

    p {
        text-align: justify;
    }

    dt {
        margin-right: 50px;
        font-size: large;
    }

    dl {
        display: inline;
    }
</style>


<br /><br /><br />
<h3 class="text-center">Êtes-vous sûr de vouloir supprimer cette compétence</h3>
<br />
<div>

    <dl class="dl-horizontal">
        <dt>
            Compétence :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competence)
        </dd>

        <dt>
            Niveau :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NiveauCompetence)
        </dd>
        <dt></dt>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <br /><br /> <br /><br />
                <div class="form-actions no-color">
                    <input type="submit" value="Supprimer" class="btn btn-primary pull-right" />
                </div>
            }
        </dd>

    </dl>

    @{
        int ID = (int)Session["idRenseignement"];
        string NewID = Convert.ToBase64String(BitConverter.GetBytes(ID)).Replace("==", "");
    }
    <div class="form-actions no-color">
        @Html.ActionLink("Retour", "Verification", "Enregistrement", new { Id = NewID }, null)
    </div>
</div>
