@model DossierDeCandidature.Models.Langues


<script src="~/Scripts/JavaScript.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<style>
    .form-group {
        margin-right: 15px;
        
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-inline">
    <br />
    <br />
    <h2 class=" text-center">LANGUES ETRANGERES</h2>
    <br />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="row">
            <div class="Champ_langue" id="l">
                <div class="form-group">
                    <label>Langue</label>
                    <div>
                        <input name="[0].Langue" class="form-control" value="Anglais" style="text-align:center;" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Niveau Langue</label>
                    <select class="form-control" name="[0].NiveauLangue" style="text-align-last:center">
                        <option value="Non opérationnel"> Non opérationnel </option>
                        <option value="Opérationnel">Opérationnel</option>
                        <option value="Courant">Courant</option>
                    </select>
                </div>
            </div>
            <br />
        </div>
        <br />
        <br />
        <div>
            <input type="submit" value="suivant" class="btn btn-primary pull-right" />
        </div>
    </div>
</div>
}

<button id="btnAjouterLangue" class="btn btn-default" style="background-color:darkgrey">Ajouter</button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
