
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<h2 class="text-center">LISTE DES CANDIDATS ENREGISTRES DEPUIS 1 AN OU PLUS</h2>
<br /><br /><br /><br /><br />
<p style="color:cornflowerblue; font-size:xx-large; text-align:center; font-family:cursive;">Aucun Candidat ne correspond à ce critère</p>
<br /><br /><br /><br /><br />
<div class="form-actions no-color">
    @Html.ActionLink("Retour", "Index", "Home")
</div>
